.textButton {
    cursor: pointer;
    color: #373A40;
    border: none;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.button {
    cursor: pointer;
    border: none;
    background-color: #00E0ED;
    color: #fff;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
}

.button:disabled {
    cursor: not-allowed;
}