.items {
    width: 90%;
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1.5rem;
    margin: 2rem auto;
    list-style: none;
    padding: 0;
}
    @media only screen and (max-width: 767px) {
        .items {
            max-width: 25rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
            grid-gap: 1rem;
        }
    }

.li {
    list-style: none;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
    @media only screen and (max-width: 767px) {
        .li {
            width: 150px;
            margin: 0 auto;
        }
    }
    